
/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: #fff;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $lighten-blue;
  }
  
  .error {
    background-color: $buttonred;
  }
  
  .info {
    background-color: $buttonpurple;
  }
  
  .success {
    background-color: $buttongreen;
  }
  
  .warning {
    background-color: $buttonorange;
  }
  
  // HOVER

.default:hover {
  background-color: $lighten-hoverblue;
}

.error:hover {
  background-color: $buttonred-lighten;
}

.info:hover {
  background-color: $buttonpurple-lighten;
}

.success:hover {
  background-color: $buttongreen-darken;
}

.warning:hover {
  background-color: $buttonorange-darken;
}